# URL do servidor Evolution API
EVOLUTION_API_URL=https://api.harmonykicks.com  

# Chave API para autenticar na Evolution API
EVOLUTION_API_KEY=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

# ID da instância do WhatsApp na Evolution API

EVOLUTION_API_INSTANCE=pamelucha

